{% extends "base.html" %} 
{% load static %}
{% block title %}Services{% endblock %}
 
{% block content %}
{% include "navbar.html" %}

<div class="couple">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-7">
             <div class="titlepage text_align_left">
                <span>Our introduction</span>
                <h2>Meet Happy Married Couple</h2>
                <p>At Hridyam Photography, our clients' joy is our ultimate reward. We have had the privilege of capturing and immortalizing their most cherished moments, ranging from the blissful union of marriage to the celebration of anniversaries, baby showers, and more. The heartfelt gratitude and thanks expressed by our clients stand as a testament to the trust they place in us to encapsulate their precious memories. Join the ranks of our satisfied clients and let us turn your special moments into everlasting treasures.
                </p>
                <a class="read_more whitebg" href="Javascript:void(0)">See More</a>
             </div>
          </div>
          {% for items in contents %}
          <div class="col-md-5">
             <div class="doi">
               <figure><img src="{{items.intro_img.url}}" alt="#"/></figure>
             </div>
          </div>
          {% endfor %}
       </div>
    </div>
 </div>
{% endblock %}